## DataManim https://www.datamanim.com/

In [413]:
# 01 Getting & Knowing Data
import pandas as pd
import numpy as np

In [414]:
# Question 1
url = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df = pd.read_csv(url, sep='\t')

In [415]:
# Question 2
Ans2 = df.head(5)
print(Ans2)

       gameId   creationTime  gameDuration  seasonId  winner  firstBlood  \
0  3326086514  1504279457970          1949         9       1           2
1  3229566029  1497848803862          1851         9       1           1
2  3327363504  1504360103310          1493         9       1           2
3  3326856598  1504348503996          1758         9       1           1
4  3330080762  1504554410899          2094         9       1           2

   firstTower  firstInhibitor  firstBaron  firstDragon  ...  t2_towerKills  \
0           1               1           1            1  ...              5
1           1               1           0            1  ...              2
2           1               1           1            2  ...              2
3           1               1           1            1  ...              0
4           1               1           1            1  ...              3

   t2_inhibitorKills  t2_baronKills  t2_dragonKills  t2_riftHeraldKills  \
0                  0              0               1                   1
1                  0              0               0                   0
2                  0              0               1                   0
3                  0              0               0                   0
4                  0              0               1                   0

   t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
0      114       67       43       16       51
1       11       67      238       51      420
2      157      238      121       57       28
3      164       18      141       40       51
4       86       11      201      122       18

[5 rows x 61 columns]

In [416]:
# Question 3
print(df.shape)
print('행:',df.shape[0])
print('열:',df.shape[1])

(51490, 61)
행: 51490
열: 61

In [417]:
# Question 4
Ans4 = df.columns
print(Ans4)

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [418]:
# Question 5
Ans5 = df.columns[5]
print(Ans5)

firstBlood

In [419]:
# Question 6
Ans6 = df[df.columns[5]].dtype
Ans6_1 = df.iloc[:,5].dtype
print(Ans6)
print(Ans6_1)

int64
int64

In [420]:
# Question 7
Ans7 = df.index
print(Ans7)

RangeIndex(start=0, stop=51490, step=1)

In [421]:
# Question 8
Ans8 = df[df.columns[5]][2]
print(Ans8)

2

In [422]:
# Question 8_1
Ans8_1 = df.iloc[2,5]
print(Ans8_1)

2

In [423]:
# Question 9
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df2 = pd.read_csv(DataUrl, encoding='euc-kr')

In [424]:
# Question 10
Ans10 = df2.tail(3)
print(Ans10)

         id          일자   시도명 읍면동명         거주인구       근무인구        방문인구  \
9618  32066  2020-04-30   제주시  도두동    28397.481   3144.895   84052.697
9619  32067  2020-04-30  서귀포시  안덕면   348037.846  29106.286  251129.660
9620  32068  2020-04-30   제주시   연동  1010643.372  65673.477  447622.068

           총 유동인구   평균 속도  평균 소요 시간  평균 기온  일강수량  평균 풍속
9618   115595.073  41.053    29.421   20.3   0.0    3.0
9619   628273.792  46.595    49.189   17.6   0.0    3.5
9620  1523938.917  40.863    27.765   14.1   0.0    4.8

In [425]:
# Question 11
Ans11 = df2.select_dtypes(include=[int, float])
print(Ans11)

         id         거주인구       근무인구        방문인구       총 유동인구   평균 속도  \
0     22448    32249.987   3418.266  102709.092   138377.345  39.556
1     22449   213500.997  10341.172  112692.789   336534.958  32.900
2     22450  1212382.218  96920.834  541194.481  1850497.533  29.538
3     22451    33991.653   6034.253   72155.919   112181.825  30.000
4     22452   155036.925   9403.969  150882.409   315323.303  41.583
...     ...          ...        ...         ...          ...     ...
9616  32064   228260.005  16891.732  152832.449   397984.186  44.514
9617  32065   459959.064  26007.122  249700.419   735666.605  48.609
9618  32066    28397.481   3144.895   84052.697   115595.073  41.053
9619  32067   348037.846  29106.286  251129.660   628273.792  46.595
9620  32068  1010643.372  65673.477  447622.068  1523938.917  40.863

      평균 소요 시간  평균 기온  일강수량  평균 풍속
0       29.167    5.0   0.0   2.50
1       30.900    5.0   0.0   2.50
2       35.692    2.9   0.0   2.40
3       23.500    2.9   0.0   2.40
4       14.375    5.1   0.0   2.30
...        ...    ...   ...    ...
9616    34.054   18.1   0.0   4.70
9617    61.377   18.0   0.0   4.35
9618    29.421   20.3   0.0   3.00
9619    49.189   17.6   0.0   3.50
9620    27.765   14.1   0.0   4.80

[9621 rows x 10 columns]

In [426]:
# Question 11_1
Ans11_1 = df2.select_dtypes(exclude=object)
print(Ans11_1)

         id         거주인구       근무인구        방문인구       총 유동인구   평균 속도  \
0     22448    32249.987   3418.266  102709.092   138377.345  39.556
1     22449   213500.997  10341.172  112692.789   336534.958  32.900
2     22450  1212382.218  96920.834  541194.481  1850497.533  29.538
3     22451    33991.653   6034.253   72155.919   112181.825  30.000
4     22452   155036.925   9403.969  150882.409   315323.303  41.583
...     ...          ...        ...         ...          ...     ...
9616  32064   228260.005  16891.732  152832.449   397984.186  44.514
9617  32065   459959.064  26007.122  249700.419   735666.605  48.609
9618  32066    28397.481   3144.895   84052.697   115595.073  41.053
9619  32067   348037.846  29106.286  251129.660   628273.792  46.595
9620  32068  1010643.372  65673.477  447622.068  1523938.917  40.863

      평균 소요 시간  평균 기온  일강수량  평균 풍속
0       29.167    5.0   0.0   2.50
1       30.900    5.0   0.0   2.50
2       35.692    2.9   0.0   2.40
3       23.500    2.9   0.0   2.40
4       14.375    5.1   0.0   2.30
...        ...    ...   ...    ...
9616    34.054   18.1   0.0   4.70
9617    61.377   18.0   0.0   4.35
9618    29.421   20.3   0.0   3.00
9619    49.189   17.6   0.0   3.50
9620    27.765   14.1   0.0   4.80

[9621 rows x 10 columns]

In [427]:
# Question 12
Ans12 = df2.select_dtypes(include=object)
print(Ans12)

              일자   시도명  읍면동명
0     2018-01-01   제주시   도두동
1     2018-01-01   제주시   외도동
2     2018-01-01   제주시  이도2동
3     2018-01-01   제주시  일도1동
4     2018-01-01  서귀포시   대천동
...          ...   ...   ...
9616  2020-04-30  서귀포시   표선면
9617  2020-04-30   제주시   한림읍
9618  2020-04-30   제주시   도두동
9619  2020-04-30  서귀포시   안덕면
9620  2020-04-30   제주시    연동

[9621 rows x 3 columns]

In [428]:
# Question 13
Ans13 = df2.isnull().sum().sum()
print(Ans13)

0

In [429]:
# Question 14
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [430]:
# Question 15
Ans15 = df2.describe()
print(Ans15)

                 id          거주인구           근무인구           방문인구        총 유동인구  \
count   9621.000000  9.621000e+03    9621.000000    9621.000000  9.621000e+03
mean   27258.000000  3.174315e+05   35471.201510  195889.561802  5.487922e+05
std     2777.487804  2.982079e+05   40381.214775  140706.090325  4.608802e+05
min    22448.000000  9.305552e+03    1407.936000   11538.322000  2.225181e+04
25%    24853.000000  9.539939e+04   12074.498000   99632.153000  2.216910e+05
50%    27258.000000  2.221105e+05   21960.928000  152805.335000  3.866935e+05
75%    29663.000000  4.106671e+05   40192.032000  236325.109000  6.406918e+05
max    32068.000000  1.364504e+06  263476.965000  723459.209000  2.066484e+06

             평균 속도     평균 소요 시간        평균 기온         일강수량        평균 풍속
count  9621.000000  9621.000000  9621.000000  9621.000000  9621.000000
mean     41.109084    37.215873    13.550828     6.972426     2.753171
std       8.758631    12.993786     7.745515    27.617260     1.498538
min      24.333000    12.667000    -9.600000     0.000000     0.000000
25%      34.250000    27.889000     7.600000     0.000000     1.700000
50%      39.640000    34.500000    13.400000     0.000000     2.400000
75%      49.105000    46.176000    19.700000     1.500000     3.400000
max     103.000000   172.200000    30.400000   587.500000    13.333000

In [431]:
# Question 16
Ans16 = df2.loc[:,'거주인구']
print(Ans16)

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

In [432]:
# Question 16_1
Ans16 = df2['거주인구']
print(Ans16)

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

In [433]:
# Question 17
Ans17 = df2['평균 속도'].quantile(0.75) - df2['평균 속도'].quantile(0.25)
print(Ans17)

14.854999999999997

In [434]:
# Question 18
Ans18 = df2['읍면동명'].nunique()
print(Ans18)

41

In [435]:
# Question 18_1
Ans18_1 = []
for value in df2['읍면동명'].values:
    if value not in Ans18_1:
        Ans18_1.append(value)
print(len(Ans18_1))

41

In [436]:
# Question 19
Ans19 = df2['읍면동명'].unique()
print(Ans19)

['도두동' '외도동' '이도2동' '일도1동' '대천동' '서홍동' '한경면' '송산동' '조천읍' '일도2동' '영천동'
 '예래동' '대륜동' '삼도1동' '이호동' '건입동' '중앙동' '삼양동' '삼도2동' '이도1동' '남원읍' '대정읍'
 '정방동' '효돈동' '아라동' '한림읍' '구좌읍' '용담1동' '오라동' '화북동' '연동' '표선면' '중문동' '성산읍'
 '안덕면' '천지동' '노형동' '동홍동' '용담2동' '봉개동' '애월읍']

In [437]:
# 02 Filtering & Sorting
# Question 20
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df3 = pd.read_csv(DataUrl)

In [438]:
# Question 21
Ans21 = df3.loc[df3['quantity']==3].head()
print(Ans21)

     order_id  quantity          item_name  \
409       178         3       Chicken Bowl
445       193         3               Bowl
689       284         3  Canned Soft Drink
818       338         3      Bottled Water
850       350         3  Canned Soft Drink

                                    choice_description item_price
409  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...    $32.94
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20
689                                        [Diet Coke]     $3.75
818                                                NaN     $3.27
850                                           [Sprite]     $3.75

In [439]:
# Question 21_1 but loc를 쓰는 습관을 들여라
Ans21_1 = df3[df3['quantity']==3].head()
print(Ans21_1)

     order_id  quantity          item_name  \
409       178         3       Chicken Bowl
445       193         3               Bowl
689       284         3  Canned Soft Drink
818       338         3      Bottled Water
850       350         3  Canned Soft Drink

                                    choice_description item_price
409  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...    $32.94
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20
689                                        [Diet Coke]     $3.75
818                                                NaN     $3.27
850                                           [Sprite]     $3.75

In [440]:
# Question 22
Ans22 = df3.loc[df3['quantity']==3].reset_index(drop=True).head()
print(Ans22)

   order_id  quantity          item_name  \
0       178         3       Chicken Bowl
1       193         3               Bowl
2       284         3  Canned Soft Drink
3       338         3      Bottled Water
4       350         3  Canned Soft Drink

                                  choice_description item_price
0  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...    $32.94
1  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20
2                                        [Diet Coke]     $3.75
3                                                NaN     $3.27
4                                           [Sprite]     $3.75

In [441]:
# Question 23
Ans23 = df3[['quantity', 'item_price']]
print(Ans23)

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

In [442]:
# Question 24
Ans24 = df3
Ans24['new_price'] = Ans24['item_price'].str[1:].astype('float')
print(Ans24)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price  new_price
0                                                   NaN     $2.39        2.39
1                                          [Clementine]     $3.39        3.39
2                                               [Apple]     $3.39        3.39
3                                                   NaN     $2.39        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[4622 rows x 6 columns]

In [443]:
# Question 24
df3['new_price'] = df3['item_price'].str.replace('$','',regex=False).astype('float')
print(df3)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price  new_price
0                                                   NaN     $2.39        2.39
1                                          [Clementine]     $3.39        3.39
2                                               [Apple]     $3.39        3.39
3                                                   NaN     $2.39        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[4622 rows x 6 columns]

In [444]:
# Question 25
Ans25 = len(df3.loc[df3['new_price']<=5])
print(Ans25)

1652

In [445]:
# Question 26
Ans26 = df3.loc[df3['item_name']=='Chicken Salad Bowl'].reset_index(drop=True)
print(Ans26)

     order_id  quantity           item_name  \
0          20         1  Chicken Salad Bowl
1          60         2  Chicken Salad Bowl
2          94         2  Chicken Salad Bowl
3         111         1  Chicken Salad Bowl
4         137         2  Chicken Salad Bowl
..        ...       ...                 ...
105      1813         2  Chicken Salad Bowl
106      1822         1  Chicken Salad Bowl
107      1834         1  Chicken Salad Bowl
108      1834         1  Chicken Salad Bowl
109      1834         1  Chicken Salad Bowl

                                    choice_description item_price  new_price
0    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
1    [Tomatillo Green Chili Salsa, [Sour Cream, Che...    $22.50       22.50
2    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $22.50       22.50
3    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
4              [Fresh Tomato Salsa, Fajita Vegetables]    $17.50       17.50
..                                                 ...        ...        ...
105  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $17.50       17.50
106  [Fresh Tomato Salsa, [Black Beans, Cheese, Gua...    $11.25       11.25
107  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
108  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
109  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[110 rows x 6 columns]

In [446]:
# Question 27
Ans27 = df3.loc[(df3['new_price']<=9) & (df3['item_name']=="Chicken Salad Bowl")]
print(Ans27)

      order_id  quantity           item_name  \
44          20         1  Chicken Salad Bowl
256        111         1  Chicken Salad Bowl
526        220         1  Chicken Salad Bowl
528        221         1  Chicken Salad Bowl
529        221         1  Chicken Salad Bowl
568        234         1  Chicken Salad Bowl
585        240         1  Chicken Salad Bowl
693        286         1  Chicken Salad Bowl
702        289         1  Chicken Salad Bowl
762        314         1  Chicken Salad Bowl
1109       458         1  Chicken Salad Bowl
1460       592         1  Chicken Salad Bowl
1471       598         1  Chicken Salad Bowl
1483       602         1  Chicken Salad Bowl
1547       628         1  Chicken Salad Bowl
1601       649         1  Chicken Salad Bowl
1621       654         1  Chicken Salad Bowl
1756       709         1  Chicken Salad Bowl
1977       798         1  Chicken Salad Bowl
2031       818         1  Chicken Salad Bowl
2113       850         1  Chicken Salad Bowl
2224       896         1  Chicken Salad Bowl
2314       926         1  Chicken Salad Bowl
2728      1083         1  Chicken Salad Bowl
2858      1136         1  Chicken Salad Bowl
2883      1145         1  Chicken Salad Bowl
2897      1152         1  Chicken Salad Bowl
2989      1189         1  Chicken Salad Bowl
3033      1206         1  Chicken Salad Bowl
3069      1222         1  Chicken Salad Bowl
3117      1243         1  Chicken Salad Bowl
3259      1305         1  Chicken Salad Bowl
3261      1305         1  Chicken Salad Bowl
3310      1327         1  Chicken Salad Bowl
3315      1329         1  Chicken Salad Bowl
3381      1357         1  Chicken Salad Bowl
3411      1368         1  Chicken Salad Bowl
3623      1450         1  Chicken Salad Bowl
3656      1461         1  Chicken Salad Bowl
3706      1483         1  Chicken Salad Bowl
3712      1483         1  Chicken Salad Bowl
3790      1517         1  Chicken Salad Bowl
3798      1521         1  Chicken Salad Bowl
3974      1592         1  Chicken Salad Bowl
3997      1601         1  Chicken Salad Bowl
4012      1606         1  Chicken Salad Bowl
4035      1615         1  Chicken Salad Bowl
4064      1627         1  Chicken Salad Bowl
4205      1679         1  Chicken Salad Bowl
4207      1679         1  Chicken Salad Bowl
4333      1730         1  Chicken Salad Bowl
4352      1738         1  Chicken Salad Bowl
4439      1769         1  Chicken Salad Bowl
4520      1797         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price  new_price
44    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
256   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
526   [Roasted Chili Corn Salsa, [Black Beans, Sour ...     $8.75        8.75
528   [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
529   [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
568             [Fresh Tomato Salsa, Fajita Vegetables]     $8.75        8.75
585             [Fresh Tomato Salsa, Fajita Vegetables]     $8.75        8.75
693   [Fresh Tomato Salsa, [Sour Cream, Cheese, Lett...     $8.75        8.75
702   [Tomatillo Red Chili Salsa, [Black Beans, Chee...     $8.75        8.75
762   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
1109  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
1460                      [Fresh Tomato Salsa, Lettuce]     $8.75        8.75
1471  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
1483  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $8.75        8.75
1547  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
1601  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
1621  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
1756  [Fresh Tomato Salsa, [Fajita Vegetables, Sour ...     $8.75        8.75
1977  [Fresh Tomato Salsa, [Fajita Vegetables, Sour ...     $8.75        8.75
2031  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75        8.75
2113  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]     $8.75        8.75
2224  [Fresh Tomato Salsa, [Pinto Beans, Sour Cream,...     $8.75        8.75
2314     [Roasted Chili Corn Salsa, [Rice, Sour Cream]]     $8.75        8.75
2728      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]     $8.75        8.75
2858  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $8.75        8.75
2883  [Roasted Chili Corn Salsa, [Black Beans, Sour ...     $8.75        8.75
2897                 [Roasted Chili Corn Salsa, Cheese]     $8.75        8.75
2989  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
3033            [Fresh Tomato Salsa, [Cheese, Lettuce]]     $8.75        8.75
3069  [Fresh Tomato Salsa, [Fajita Vegetables, Black...     $8.75        8.75
3117  [Roasted Chili Corn Salsa, [Rice, Pinto Beans,...     $8.75        8.75
3259  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
3261  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
3310                               [Fresh Tomato Salsa]     $8.75        8.75
3315              [Fresh Tomato Salsa, [Rice, Lettuce]]     $8.75        8.75
3381            [Fresh Tomato Salsa, [Cheese, Lettuce]]     $8.75        8.75
3411       [Fresh Tomato Salsa, [Pinto Beans, Lettuce]]     $8.75        8.75
3623  [Roasted Chili Corn Salsa, [Rice, Pinto Beans,...     $8.75        8.75
3656  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
3706  [Roasted Chili Corn Salsa, [Pinto Beans, Chees...     $8.75        8.75
3712  [Roasted Chili Corn Salsa, [Black Beans, Chees...     $8.75        8.75
3790  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $8.75        8.75
3798  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
3974  [Fresh Tomato Salsa, [Rice, Pinto Beans, Lettu...     $8.75        8.75
3997  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
4012                               [Fresh Tomato Salsa]     $8.75        8.75
4035  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $8.75        8.75
4064  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75        8.75
4205  [Roasted Chili Corn Salsa, [Black Beans, Chees...     $8.75        8.75
4207  [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...     $8.75        8.75
4333        [Tomatillo Red Chili Salsa, [Rice, Cheese]]     $8.75        8.75
4352  [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...     $8.75        8.75
4439  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75        8.75
4520                      [Fresh Tomato Salsa, Lettuce]     $8.75        8.75
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

In [447]:
# Question 28
Ans28 = df3.sort_values('new_price').reset_index(drop=True)
print(Ans28)

      order_id  quantity                     item_name  \
0          471         1                 Bottled Water
1          338         1                   Canned Soda
2         1575         1                   Canned Soda
3           47         1                   Canned Soda
4         1014         1                   Canned Soda
...        ...       ...                           ...
4617      1443         3                Veggie Burrito
4618      1443         4               Chicken Burrito
4619       511         4               Chicken Burrito
4620      1398         3                 Carnitas Bowl
4621      1443        15  Chips and Fresh Tomato Salsa

                                     choice_description item_price  new_price
0                                                   NaN     $1.09        1.09
1                                           [Coca Cola]     $1.09        1.09
2                                          [Dr. Pepper]     $1.09        1.09
3                                          [Dr. Pepper]     $1.09        1.09
4                                           [Coca Cola]     $1.09        1.09
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $33.75       33.75
4618  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $35.00       35.00
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $35.00       35.00
4620  [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $35.25       35.25
4621                                                NaN    $44.25       44.25

[4622 rows x 6 columns]

In [448]:
# Question 29
Ans29 = df3.loc[df3['item_name'].str.contains('Chips')]
print(Ans29)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
3            1         1  Chips and Tomatillo-Green Chili Salsa
6            3         1                          Side of Chips
10           5         1                    Chips and Guacamole
14           7         1                    Chips and Guacamole
...        ...       ...                                    ...
4596      1826         1                    Chips and Guacamole
4600      1827         1                    Chips and Guacamole
4605      1828         1                    Chips and Guacamole
4613      1831         1                                  Chips
4616      1832         1                    Chips and Guacamole

     choice_description item_price  new_price
0                   NaN     $2.39        2.39
3                   NaN     $2.39        2.39
6                   NaN     $1.69        1.69
10                  NaN     $4.45        4.45
14                  NaN     $4.45        4.45
...                 ...        ...        ...
4596                NaN     $4.45        4.45
4600                NaN     $4.45        4.45
4605                NaN     $4.45        4.45
4613                NaN     $2.15        2.15
4616                NaN     $4.45        4.45

[1084 rows x 6 columns]

In [449]:
# Question 30
Ans30 = df3.iloc[:,::2]
#시작:끝:스텝, default값 0:-1:1(생략 가능)
#홀수번째: df3.iloc[:,1::2]
print(Ans30)

      order_id                              item_name item_price
0            1           Chips and Fresh Tomato Salsa     $2.39
1            1                                   Izze     $3.39
2            1                       Nantucket Nectar     $3.39
3            1  Chips and Tomatillo-Green Chili Salsa     $2.39
4            2                           Chicken Bowl    $16.98
...        ...                                    ...        ...
4617      1833                          Steak Burrito    $11.75
4618      1833                          Steak Burrito    $11.75
4619      1834                     Chicken Salad Bowl    $11.25
4620      1834                     Chicken Salad Bowl     $8.75
4621      1834                     Chicken Salad Bowl     $8.75

[4622 rows x 3 columns]

In [450]:
# Question 31
Ans31 = df3.sort_values('new_price', ascending=False).reset_index(drop=True)
print(Ans31)

      order_id  quantity                     item_name  \
0         1443        15  Chips and Fresh Tomato Salsa
1         1398         3                 Carnitas Bowl
2          511         4               Chicken Burrito
3         1443         4               Chicken Burrito
4         1443         3                Veggie Burrito
...        ...       ...                           ...
4617      1578         1                   Canned Soda
4618      1162         1                 Bottled Water
4619       567         1                   Canned Soda
4620      1014         1                   Canned Soda
4621       591         1                   Canned Soda

                                     choice_description item_price  new_price
0                                                   NaN    $44.25       44.25
1     [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $35.25       35.25
2     [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $35.00       35.00
3     [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $35.00       35.00
4     [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $33.75       33.75
...                                                 ...        ...        ...
4617                                  [Diet Dr. Pepper]     $1.09        1.09
4618                                                NaN     $1.09        1.09
4619                                        [Coca Cola]     $1.09        1.09
4620                                        [Coca Cola]     $1.09        1.09
4621                                           [Sprite]     $1.09        1.09

[4622 rows x 6 columns]

In [451]:
# Question 32
Ans32 = df3.loc[(df3['item_name']=='Steak Salad') | (df3['item_name']=='Bowl')]
print(Ans32)

      order_id  quantity    item_name  \
445        193         3         Bowl
664        276         1  Steak Salad
673        279         1         Bowl
752        311         1  Steak Salad
893        369         1  Steak Salad
3502      1406         1  Steak Salad

                                     choice_description item_price  new_price
445   [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20       22.20
664   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99
673   [Adobo-Marinated and Grilled Steak, [Sour Crea...     $7.40        7.40
752   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99
893   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...     $8.99        8.99
3502                        [[Lettuce, Fajita Veggies]]     $8.69        8.69

In [452]:
# Question 33
Ans33 = df3.loc[(df3['item_name']=='Steak Salad') | (df3['item_name']=='Bowl')].drop_duplicates('item_name')
print(Ans33)

     order_id  quantity    item_name  \
445       193         3         Bowl
664       276         1  Steak Salad

                                    choice_description item_price  new_price
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20       22.20
664  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99

In [453]:
# Question 34
Ans34 = df3.loc[(df3['item_name']=='Steak Salad') | (df3['item_name']=='Bowl')].drop_duplicates('item_name',keep='last')
print(Ans34)

      order_id  quantity    item_name  \
673        279         1         Bowl
3502      1406         1  Steak Salad

                                     choice_description item_price  new_price
673   [Adobo-Marinated and Grilled Steak, [Sour Crea...     $7.40        7.40
3502                        [[Lettuce, Fajita Veggies]]     $8.69        8.69

In [454]:
# Question 35
print(df3['new_price'].mean())
Ans35 = df3.loc[df3['new_price'] >= df3['new_price'].mean()]
print(Ans35)

7.464335785374297
      order_id  quantity           item_name  \
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
8            4         1    Steak Soft Tacos
9            5         1       Steak Burrito
...        ...       ...                 ...
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price  new_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75       11.75
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25        9.25
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25        9.25
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[2890 rows x 6 columns]

In [455]:
# Question 36
df3.loc[df3['item_name']=='Izze', 'item_name'] = 'Fizzy Lizzy'
print(df3)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                            Fizzy Lizzy
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price  new_price
0                                                   NaN     $2.39        2.39
1                                          [Clementine]     $3.39        3.39
2                                               [Apple]     $3.39        3.39
3                                                   NaN     $2.39        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[4622 rows x 6 columns]

In [456]:
# Question 37
Ans37 = df3['choice_description'].isnull().sum()
print(Ans37)

1246

In [457]:
# Question 38
df3.loc[df3['choice_description'].isnull(),'choice_description'] = 'NoData'
print(df3)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                            Fizzy Lizzy
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price  new_price
0                                                NoData     $2.39        2.39
1                                          [Clementine]     $3.39        3.39
2                                               [Apple]     $3.39        3.39
3                                                NoData     $2.39        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[4622 rows x 6 columns]

In [458]:
# Question 38_1
df3.loc[:,'choice_description'] = df3['choice_description'].fillna('NoData')
print(df3)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                            Fizzy Lizzy
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price  new_price
0                                                NoData     $2.39        2.39
1                                          [Clementine]     $3.39        3.39
2                                               [Apple]     $3.39        3.39
3                                                NoData     $2.39        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[4622 rows x 6 columns]

In [459]:
# Question 39
Ans39 = df3.loc[df3['choice_description'].str.contains('Black')]
print(Ans39)

      order_id  quantity             item_name  \
4            2         2          Chicken Bowl
7            4         1         Steak Burrito
9            5         1         Steak Burrito
11           6         1  Chicken Crispy Tacos
12           6         1    Chicken Soft Tacos
...        ...       ...                   ...
4604      1828         1          Chicken Bowl
4608      1829         1        Veggie Burrito
4611      1830         1        Veggie Burrito
4612      1831         1         Carnitas Bowl
4617      1833         1         Steak Burrito

                                     choice_description item_price  new_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75       11.75
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25        9.25
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75        8.75
...                                                 ...        ...        ...
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75        8.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25       11.25
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25       11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25        9.25
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75

[1353 rows x 6 columns]

In [460]:
# Question 40
Ans40 = len(df3.loc[~df3['choice_description'].str.contains('Vegetables')])
print(Ans40)

3900

In [461]:
# Question 41
Ans41 = df3.loc[df3['item_name'].str.startswith('N')]
print(Ans41)

      order_id  quantity         item_name         choice_description  \
2            1         1  Nantucket Nectar                    [Apple]
22          11         1  Nantucket Nectar       [Pomegranate Cherry]
105         46         1  Nantucket Nectar  [Pineapple Orange Banana]
173         77         1  Nantucket Nectar                    [Apple]
205         91         1  Nantucket Nectar             [Peach Orange]
436        189         1  Nantucket Nectar       [Pomegranate Cherry]
601        247         2  Nantucket Nectar  [Pineapple Orange Banana]
925        381         1  Nantucket Nectar       [Pomegranate Cherry]
1356       553         1  Nantucket Nectar       [Pomegranate Cherry]
1585       641         1  Nantucket Nectar             [Peach Orange]
1626       656         1  Nantucket Nectar  [Pineapple Orange Banana]
1706       690         1  Nantucket Nectar                    [Apple]
2162       872         1  Nantucket Nectar  [Pineapple Orange Banana]
2379       947         2  Nantucket Nectar             [Peach Orange]
2381       947         1  Nantucket Nectar                    [Apple]
2430       965         1  Nantucket Nectar       [Pomegranate Cherry]
2653      1053         1  Nantucket Nectar  [Pineapple Orange Banana]
2818      1118         1  Nantucket Nectar                    [Apple]
2838      1128         1  Nantucket Nectar             [Peach Orange]
2853      1133         1  Nantucket Nectar                    [Apple]
2949      1172         1  Nantucket Nectar             [Peach Orange]
3318      1330         1  Nantucket Nectar             [Peach Orange]
3368      1351         1  Nantucket Nectar  [Pineapple Orange Banana]
3570      1433         1  Nantucket Nectar  [Pineapple Orange Banana]
3845      1541         1  Nantucket Nectar             [Peach Orange]
4019      1609         1  Nantucket Nectar  [Pineapple Orange Banana]
4078      1632         1  Nantucket Nectar             [Peach Orange]

     item_price  new_price
2        $3.39        3.39
22       $3.39        3.39
105      $3.39        3.39
173      $3.39        3.39
205      $3.39        3.39
436      $3.39        3.39
601      $6.78        6.78
925      $3.39        3.39
1356     $3.39        3.39
1585     $3.39        3.39
1626     $3.39        3.39
1706     $3.39        3.39
2162     $3.39        3.39
2379     $6.78        6.78
2381     $3.39        3.39
2430     $3.39        3.39
2653     $3.39        3.39
2818     $3.39        3.39
2838     $3.39        3.39
2853     $3.39        3.39
2949     $3.39        3.39
3318     $3.39        3.39
3368     $3.39        3.39
3570     $3.39        3.39
3845     $3.39        3.39
4019     $3.39        3.39
4078     $3.39        3.39

In [462]:
# Question 41_1
Ans41_1 = df3.loc[df3['item_name'].str[0]=='N']
print(Ans41_1)

      order_id  quantity         item_name         choice_description  \
2            1         1  Nantucket Nectar                    [Apple]
22          11         1  Nantucket Nectar       [Pomegranate Cherry]
105         46         1  Nantucket Nectar  [Pineapple Orange Banana]
173         77         1  Nantucket Nectar                    [Apple]
205         91         1  Nantucket Nectar             [Peach Orange]
436        189         1  Nantucket Nectar       [Pomegranate Cherry]
601        247         2  Nantucket Nectar  [Pineapple Orange Banana]
925        381         1  Nantucket Nectar       [Pomegranate Cherry]
1356       553         1  Nantucket Nectar       [Pomegranate Cherry]
1585       641         1  Nantucket Nectar             [Peach Orange]
1626       656         1  Nantucket Nectar  [Pineapple Orange Banana]
1706       690         1  Nantucket Nectar                    [Apple]
2162       872         1  Nantucket Nectar  [Pineapple Orange Banana]
2379       947         2  Nantucket Nectar             [Peach Orange]
2381       947         1  Nantucket Nectar                    [Apple]
2430       965         1  Nantucket Nectar       [Pomegranate Cherry]
2653      1053         1  Nantucket Nectar  [Pineapple Orange Banana]
2818      1118         1  Nantucket Nectar                    [Apple]
2838      1128         1  Nantucket Nectar             [Peach Orange]
2853      1133         1  Nantucket Nectar                    [Apple]
2949      1172         1  Nantucket Nectar             [Peach Orange]
3318      1330         1  Nantucket Nectar             [Peach Orange]
3368      1351         1  Nantucket Nectar  [Pineapple Orange Banana]
3570      1433         1  Nantucket Nectar  [Pineapple Orange Banana]
3845      1541         1  Nantucket Nectar             [Peach Orange]
4019      1609         1  Nantucket Nectar  [Pineapple Orange Banana]
4078      1632         1  Nantucket Nectar             [Peach Orange]

     item_price  new_price
2        $3.39        3.39
22       $3.39        3.39
105      $3.39        3.39
173      $3.39        3.39
205      $3.39        3.39
436      $3.39        3.39
601      $6.78        6.78
925      $3.39        3.39
1356     $3.39        3.39
1585     $3.39        3.39
1626     $3.39        3.39
1706     $3.39        3.39
2162     $3.39        3.39
2379     $6.78        6.78
2381     $3.39        3.39
2430     $3.39        3.39
2653     $3.39        3.39
2818     $3.39        3.39
2838     $3.39        3.39
2853     $3.39        3.39
2949     $3.39        3.39
3318     $3.39        3.39
3368     $3.39        3.39
3570     $3.39        3.39
3845     $3.39        3.39
4019     $3.39        3.39
4078     $3.39        3.39

In [463]:
# Question 42
Ans42 = df3.loc[df3['item_name'].str.len()>=15]
print(Ans42)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
8            4         1                       Steak Soft Tacos
10           5         1                    Chips and Guacamole
...        ...       ...                                    ...
4615      1832         1                     Chicken Soft Tacos
4616      1832         1                    Chips and Guacamole
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price  new_price
0                                                NoData     $2.39        2.39
2                                               [Apple]     $3.39        3.39
3                                                NoData     $2.39        2.39
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25        9.25
10                                               NoData     $4.45        4.45
...                                                 ...        ...        ...
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75        8.75
4616                                             NoData     $4.45        4.45
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[2373 rows x 6 columns]

In [464]:
# Question 43
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
Ans43 = df3.loc[df3['new_price'].isin(lst)]
print(Ans43)
print(len(Ans43))

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                            Fizzy Lizzy
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4610      1830         1                          Steak Burrito
4612      1831         1                          Carnitas Bowl
4616      1832         1                    Chips and Guacamole
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito

                                     choice_description item_price  new_price
0                                                NoData     $2.39        2.39
1                                          [Clementine]     $3.39        3.39
2                                               [Apple]     $3.39        3.39
3                                                NoData     $2.39        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
...                                                 ...        ...        ...
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25        9.25
4616                                             NoData     $4.45        4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75

[1393 rows x 6 columns]
1393

In [465]:
# 03_Grouping
# Question 44
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv'
df4 = pd.read_csv(DataUrl)
Ans44 = df4.head()
print(Ans44)

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

In [500]:
# Question 45
Ans45 = df4.groupby('host_name').size().head()
print(Ans45)

host_name
'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
dtype: int64

In [504]:
# Question 45_1
Ans45_1 = df4['host_name'].value_counts().sort_index().head()
print(Ans45_1)

host_name
'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
Name: count, dtype: int64

In [509]:
# Question 46
Ans46 = df4.groupby('host_name').size().to_frame().rename(columns={0:'counts'}).sort_values('counts', ascending=False)
print(Ans46)

              counts
host_name
Michael          417
David            403
Sonder (NYC)     327
John             294
Alex             279
...              ...
Jerbean            1
Jerald             1
Jeonghoon          1
Jeny               1
현선                 1

[11452 rows x 1 columns]

In [518]:
# Question 46_1
Ans46_1 = df4.groupby('host_name').value_counts().to_frame().rename(columns={'host_name':'counts'})
print(Ans46)

              counts
host_name
Michael          417
David            403
Sonder (NYC)     327
John             294
Alex             279
...              ...
Jerbean            1
Jerald             1
Jeonghoon          1
Jeny               1
현선                 1

[11452 rows x 1 columns]

In [536]:
# Question 47
Ans47 = df4.groupby(['neighbourhood_group', 'neighbourhood'], as_index=False).size()
print(Ans47)

    neighbourhood_group  neighbourhood  size
0                 Bronx       Allerton    42
1                 Bronx     Baychester     7
2                 Bronx        Belmont    24
3                 Bronx      Bronxdale    19
4                 Bronx    Castle Hill     9
..                  ...            ...   ...
216       Staten Island    Tottenville     7
217       Staten Island  West Brighton    18
218       Staten Island    Westerleigh     2
219       Staten Island    Willowbrook     1
220       Staten Island        Woodrow     1

[221 rows x 3 columns]

In [530]:
# Question 48
Ans48 = df4.groupby(['neighbourhood_group', 'neighbourhood'], as_index=False).size().groupby('neighbourhood_group', as_index=False).max()
print(Ans48)

  neighbourhood_group    neighbourhood  size
0               Bronx         Woodlawn    70
1            Brooklyn  Windsor Terrace  3920
2           Manhattan     West Village  2658
3              Queens         Woodside   900
4       Staten Island          Woodrow    48

In [539]:
# Question 48
Ans48 = df4[['neighbourhood_group','neighbourhood']].groupby(['neighbourhood_group', 'neighbourhood'], as_index=False).size().sort_values(['neighbourhood_group','size'], ascending=[True,False]).drop_duplicates('neighbourhood_group', keep='first')
print(Ans48)

    neighbourhood_group neighbourhood  size
18                Bronx   Kingsbridge    70
93             Brooklyn  Williamsburg  3920
105           Manhattan        Harlem  2658
128              Queens       Astoria   900
212       Staten Island    St. George    48

In [542]:
# Question 49
Ans49 = df4[['neighbourhood_group','price']].groupby('neighbourhood_group').agg(['mean', 'var', 'max', 'min'])
print(Ans49)

                          price
                           mean           var    max min
neighbourhood_group
Bronx                 87.496792  11386.885081   2500   0
Brooklyn             124.383207  34921.719135  10000   0
Manhattan            196.875814  84904.159185  10000   0
Queens                99.517649  27923.130227  10000  10
Staten Island        114.812332  77073.088342   5000  13

In [550]:
# Question 50
Ans50 = df4[['neighbourhood_group','reviews_per_month']].groupby('neighbourhood_group').agg(['mean', 'var', 'max', 'min'])
print(Ans50)

                    reviews_per_month
                                 mean       var    max   min
neighbourhood_group
Bronx                        1.837831  2.799878  10.34  0.02
Brooklyn                     1.283212  2.299040  14.00  0.01
Manhattan                    1.272131  2.651206  58.50  0.01
Queens                       1.941200  4.897848  20.94  0.01
Staten Island                1.872580  2.840895  10.12  0.02

In [560]:
# Question 51
Ans51 = df4.groupby(['neighbourhood', 'neighbourhood_group'])['price'].mean()
print(Ans51)

neighbourhood    neighbourhood_group
Allerton         Bronx                   87.595238
Arden Heights    Staten Island           67.250000
Arrochar         Staten Island          115.000000
Arverne          Queens                 171.779221
Astoria          Queens                 117.187778
                                           ...
Windsor Terrace  Brooklyn               138.993631
Woodhaven        Queens                  67.170455
Woodlawn         Bronx                   60.090909
Woodrow          Staten Island          700.000000
Woodside         Queens                  85.097872
Name: price, Length: 221, dtype: float64

In [559]:
# Question 51_1
Ans51_1 = df4[['neighbourhood', 'neighbourhood_group','price']].groupby(['neighbourhood', 'neighbourhood_group']).mean()
print(Ans51_1)

                                          price
neighbourhood   neighbourhood_group
Allerton        Bronx                 87.595238
Arden Heights   Staten Island         67.250000
Arrochar        Staten Island        115.000000
Arverne         Queens               171.779221
Astoria         Queens               117.187778
...                                         ...
Windsor Terrace Brooklyn             138.993631
Woodhaven       Queens                67.170455
Woodlawn        Bronx                 60.090909
Woodrow         Staten Island        700.000000
Woodside        Queens                85.097872

[221 rows x 1 columns]

In [575]:
# Question 51_2
Ans51_2 = df4.groupby(['neighbourhood', 'neighbourhood_group']).mean('price')[['price']]
print(Ans51_2)

                                          price
neighbourhood   neighbourhood_group
Allerton        Bronx                 87.595238
Arden Heights   Staten Island         67.250000
Arrochar        Staten Island        115.000000
Arverne         Queens               171.779221
Astoria         Queens               117.187778
...                                         ...
Windsor Terrace Brooklyn             138.993631
Woodhaven       Queens                67.170455
Woodlawn        Bronx                 60.090909
Woodrow         Staten Island        700.000000
Woodside        Queens                85.097872

[221 rows x 1 columns]

In [565]:
# Question 52
Ans52 = df4.groupby(['neighbourhood','neighbourhood_group'])['price'].mean().unstack()
print(Ans52)

neighbourhood_group      Bronx    Brooklyn  Manhattan      Queens  \
neighbourhood
Allerton             87.595238         NaN        NaN         NaN
Arden Heights              NaN         NaN        NaN         NaN
Arrochar                   NaN         NaN        NaN         NaN
Arverne                    NaN         NaN        NaN  171.779221
Astoria                    NaN         NaN        NaN  117.187778
...                        ...         ...        ...         ...
Windsor Terrace            NaN  138.993631        NaN         NaN
Woodhaven                  NaN         NaN        NaN   67.170455
Woodlawn             60.090909         NaN        NaN         NaN
Woodrow                    NaN         NaN        NaN         NaN
Woodside                   NaN         NaN        NaN   85.097872

neighbourhood_group  Staten Island
neighbourhood
Allerton                       NaN
Arden Heights                67.25
Arrochar                    115.00
Arverne                        NaN
Astoria                        NaN
...                            ...
Windsor Terrace                NaN
Woodhaven                      NaN
Woodlawn                       NaN
Woodrow                     700.00
Woodside                       NaN

[221 rows x 5 columns]

In [572]:
# Question 52_1
Ans52_1 = df4.groupby(['neighbourhood','neighbourhood_group'], as_index=False).mean('price')[['neighbourhood', 'neighbourhood_group', 'price']]
print(Ans52_1)

       neighbourhood neighbourhood_group       price
0           Allerton               Bronx   87.595238
1      Arden Heights       Staten Island   67.250000
2           Arrochar       Staten Island  115.000000
3            Arverne              Queens  171.779221
4            Astoria              Queens  117.187778
..               ...                 ...         ...
216  Windsor Terrace            Brooklyn  138.993631
217        Woodhaven              Queens   67.170455
218         Woodlawn               Bronx   60.090909
219          Woodrow       Staten Island  700.000000
220         Woodside              Queens   85.097872

[221 rows x 3 columns]

In [580]:
# Question 53
Ans53 = df4.groupby(['neighbourhood','neighbourhood_group'])['price'].mean().unstack().fillna(-999)
print(Ans53)

neighbourhood_group       Bronx    Brooklyn  Manhattan      Queens  \
neighbourhood
Allerton              87.595238 -999.000000     -999.0 -999.000000
Arden Heights       -999.000000 -999.000000     -999.0 -999.000000
Arrochar            -999.000000 -999.000000     -999.0 -999.000000
Arverne             -999.000000 -999.000000     -999.0  171.779221
Astoria             -999.000000 -999.000000     -999.0  117.187778
...                         ...         ...        ...         ...
Windsor Terrace     -999.000000  138.993631     -999.0 -999.000000
Woodhaven           -999.000000 -999.000000     -999.0   67.170455
Woodlawn              60.090909 -999.000000     -999.0 -999.000000
Woodrow             -999.000000 -999.000000     -999.0 -999.000000
Woodside            -999.000000 -999.000000     -999.0   85.097872

neighbourhood_group  Staten Island
neighbourhood
Allerton                   -999.00
Arden Heights                67.25
Arrochar                    115.00
Arverne                    -999.00
Astoria                    -999.00
...                            ...
Windsor Terrace            -999.00
Woodhaven                  -999.00
Woodlawn                   -999.00
Woodrow                     700.00
Woodside                   -999.00

[221 rows x 5 columns]

In [581]:
# Question 53_1
Ans53_1 = df4.groupby(['neighbourhood','neighbourhood_group'], as_index=False).mean('price')[['neighbourhood', 'neighbourhood_group', 'price']].fillna(-999)
print(Ans53_1)

       neighbourhood neighbourhood_group       price
0           Allerton               Bronx   87.595238
1      Arden Heights       Staten Island   67.250000
2           Arrochar       Staten Island  115.000000
3            Arverne              Queens  171.779221
4            Astoria              Queens  117.187778
..               ...                 ...         ...
216  Windsor Terrace            Brooklyn  138.993631
217        Woodhaven              Queens   67.170455
218         Woodlawn               Bronx   60.090909
219          Woodrow       Staten Island  700.000000
220         Woodside              Queens   85.097872

[221 rows x 3 columns]

In [592]:
# Question 54
Ans54 = df4.loc[df4['neighbourhood_group'] == 'Queens'].groupby('neighbourhood')['price'].agg(['mean', 'var', 'max', 'min'])
print(Ans54)

                           mean            var    max  min
neighbourhood
Arverne              171.779221   37383.411141   1500   35
Astoria              117.187778  122428.811196  10000   25
Bay Terrace          142.000000    6816.400000    258   32
Bayside              157.948718  166106.470985   2600   30
Bayswater             87.470588    2330.889706    230   45
Belle Harbor         171.500000    8226.571429    350   85
Bellerose             99.357143    3093.016484    240   42
Breezy Point         213.333333    1008.333333    250  195
Briarwood            105.875000   18503.165909   1000   30
Cambria Heights       81.730769    2960.604615    250   31
College Point         88.000000    6445.555556    400   44
Corona                59.171875    2430.557292    359   23
Ditmars Steinway      95.029126    4214.112785    600   22
Douglaston            82.750000    2347.071429    178   40
East Elmhurst         81.183784    4369.487779    700   16
Edgemere              94.727273    4219.418182    200   40
Elmhurst              80.459916    3896.563005    443   15
Far Rockaway         165.862069   52575.980296    900   35
Flushing              93.514085   12417.177448   1500   15
Forest Hills         121.625000   44533.368881   2350   16
Fresh Meadows         99.500000    6394.451613    375   39
Glendale              90.796296    3230.882250    299   25
Hollis                88.642857    1483.016484    175   50
Holliswood           135.750000    5091.583333    239   79
Howard Beach         115.400000    4241.936842    250   40
Jackson Heights       80.897849    2150.470590    260   23
Jamaica               95.770563    8067.047130   1000   10
Jamaica Estates      182.947368   29006.052632    750   35
Jamaica Hills        132.125000   11304.696429    325   50
Kew Gardens           88.375000    2632.306452    219   35
Kew Gardens Hills    112.307692    6230.621538    399   40
Laurelton             95.333333    4355.529412    254   34
Little Neck           75.200000    2368.700000    149   32
Long Island City     127.465549   15529.503009   2000   30
Maspeth               83.645455    2223.607089    245   11
Middle Village       109.580645    3537.118280    265   28
Neponsit             274.666667    5625.333333    350  200
Ozone Park            85.274194    1705.415389    200   25
Queens Village        83.933333    2386.470056    320   25
Rego Park             83.877358    3659.003863    300   21
Richmond Hill         87.117021    3474.147449    300   28
Ridgewood             77.184397    2629.311889    375   20
Rockaway Beach       132.178571    6254.622078    545   49
Rosedale              76.694915    2963.939801    350   22
South Ozone Park      82.400000    4619.989744    400   29
Springfield Gardens   94.235294    2490.848739    300   40
St. Albans           100.828947    9489.903684    600   25
Sunnyside             84.865014    2727.746922    600   12
Whitestone           107.545455   13632.072727    400   35
Woodhaven             67.170455    1642.464864    250   10
Woodside              85.097872    5001.900636    500   28

In [598]:
# Question 55
Ans55 = df4[['neighbourhood_group','room_type']].groupby(['neighbourhood_group','room_type']).size().unstack()
Ans55.loc[:,:] = (Ans55.values / Ans55.sum(axis=1).values.reshape(-1,1))
print(Ans55)

room_type            Entire home/apt  Private room  Shared room
neighbourhood_group
Bronx                       0.347388      0.597617     0.054995
Brooklyn                    0.475478      0.503979     0.020543
Manhattan                   0.609344      0.368496     0.022160
Queens                      0.369926      0.595129     0.034945
Staten Island               0.471850      0.504021     0.024129

C:\Users\Administrator\AppData\Local\Temp\ipykernel_9168\2090327652.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.34738772 0.47547752 0.60934398 0.36992587 0.47184987]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Ans55.loc[:,:] = (Ans55.values / Ans55.sum(axis=1).values.reshape(-1,1))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_9168\2090327652.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.59761687 0.50397931 0.36849638 0.59512884 0.50402145]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Ans55.loc[:,:] = (Ans55.values / Ans55.sum(axis=1).values.reshape(-1,1))
C:\Users\Administrator\AppData\Local\Temp\ipykernel_9168\2090327652.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.05499542 0.02054318 0.02215964 0.03494529 0.02412869]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Ans55.loc[:,:] = (Ans55.values / Ans55.sum(axis=1).values.reshape(-1,1))

In [477]:
# 04_Apply, Map
# Question 56
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'
df5 = pd.read_csv(DataUrl,index_col=0)
Ans56 = df5.shape
print(Ans56)

(10127, 18)

In [ ]:
# Question 56

In [478]:
# 05_Time_Series
# Question 64
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'
df6 = pd.read_csv(DataUrl)
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

In [ ]:
# Question 64

In [479]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv'
df7 = pd.read_csv(DataUrl)

In [ ]:
# Question 76

In [480]:
# 06_Pivot
Dataurl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv'
df8 = pd.read_csv(DataUrl)

In [ ]:
# Question 83

In [481]:
dataUrl ='https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv'
df9 = pd.read_csv(DataUrl)

In [ ]:
# Question 87

In [482]:
# 07_Merge , Concat
Dataurl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/mergeTEst.csv'
df10 = pd.read_csv(DataUrl)

In [ ]:
# Question 91